# Ignore sensitive info
*.pem
Group23_cert.pem
Group23_key.pem
.env
users.db

# Ignore Python virtual environments
venv/
__pycache__/
*.pyc

# Ignore IDE-specific files
*.vscode/
*.DS_Store

# Ignore logs and cache
logs/ 
*.log
.qodo
