# Ignore sensitive info
*.pem
Group23_cert.pem
Group23_key.pem
.env
instance/users.db

# Ignore Python virtual environments
venv/
__pycache__/
*.pyc

# Ignore IDE-specific files
*.vscode/
*.DS_Store

# Ignore logs and cache
logs/ 
*.log
.qodo

#ignore user uploads
uploads/

# Free Oracle DB wallet
Wallet_securechatDB/