# core
fastapi
uvicorn[standard]
SQLAlchemy
pymysql
passlib[bcrypt]
httpx

# crypto & WebSockets
pycryptodome
websockets

# env & uploads
python-dotenv
python-multipart
firebase-admin

# templating & sessions
jinja2
itsdangerous

# bcrypt backend
bcrypt<4
