# core
fastapi
uvicorn[standard]
SQLAlchemy
pymysql
passlib[bcrypt]

# crypto & WebSockets
pycryptodome
websockets

# env & uploads
python-dotenv
python-multipart

# templating & sessions
jinja2
itsdangerous

# bcrypt backend
bcrypt<4
