.chatwindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    width: 50vw;
    
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(163, 235, 238);
}

.auth-btn button{
    margin: 0px 10px;
    height: 25px;
    width: 80px;
}

.chat-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    padding: 10px;
    position: relative;
}

.chat-title h1 {
    text-align: center;
    margin: 0;
    flex-grow: 1
}

#leave-btn {
    position: absolute;
    right: 10px; 
}

.chat-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color:  rgb(163, 235, 238);
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.input-text {
    padding: 10px;
    display: flex;
}

h3 {
    text-align: center;
}

#input-text {
    flex: 1;
}