{% extends 'base.html' %}
{% block content %}
<div class="chat-title">
    <h1>Secure Chat</h1>
    <button type="button" name="leave" id="leave-btn" onclick="leaveRoom()">
        Leave Room
    </button>
</div>
<div class="chat-box">
    <h3>Welcome {{username}} to the Chat Room!</h3>
    <div class="messages" id="messages"></div>
    <div class="input-text">
        <input type="text" rows="3" placeholder="Enter Message" name="input-text" id="input-text"/>
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">
            Send
        </button>
    </div>
</div>
<script type="text/javascript">
    
    let ws;
    let username = "{{ username }}";
    
    function connectWebSocket() {
        ws = new WebSocket("wss://" + window.location.hostname + ":8765");

        ws.onopen = () => {
            console.log("WebSocket Connection open from client. Sending username :",username)
            ws.send(username);  //Sending username first for identification
        }

        //Listening for message event sent from web socket server and displaying in our chat-box
        ws.onmessage = (event) => {
            console.log("Received message from WS Server. message :",event.data)
            showMessage(event.data);
        };

        window.addEventListener("beforeunload", () => {
            ws.close();  // Explicitly close WebSocket when the user closes tab
        });
        
        ws.onclose = (event) => {
            console.log("WebSocket closed.");
    
            //Attempt to reconnect if it was an unexpected disconnection
            if (!event.wasClean) {
                console.log("Reconnecting...");
                setTimeout(connectWebSocket, 3000); // Auto-reconnect after 3 seconds if connection is lost
            }
        };

        ws.onerror = (error) => {
            console.error("WebSocket error:", error);
            ws.close();
        };
    }

    connectWebSocket()

    //Displaying received message in our chat-box div
    const messages = document.getElementById("messages")
    const showMessage = (msg) =>{
        const sanitizedMsg = DOMPurify.sanitize(msg);
        let usrMsgSplit = sanitizedMsg.split(":")
        const texts = `
        <div> 
            <span>
                <strong>${usrMsgSplit[0]}</strong>: ${usrMsgSplit.slice(1).join(":")}
            </span>
        </div>
        `;
        messages.innerHTML += texts;
    };

    //Sending message to the websocket server
    const sendMessage = () => {
        const text = document.getElementById("input-text")
        if (text.value.trim() === "")
            return;
        
        //Sanitize the user input using DOMPurify
        const sanitizedText = DOMPurify.sanitize(text.value);

        if(sanitizedText.trim().length > 0){
            console.log("Sending sanitized message to WS Server. sanitizedText :",sanitizedText)
            ws.send(sanitizedText);
        }
          
        text.value = "";
    };

    // Event listener to input field to capture 'Enter' key
    document.getElementById("input-text").addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault(); // Prevents the form from submitting normally
            sendMessage();  // Calls sendMessage() when Enter is pressed
        }
    });

    //Handler for "Leave Room" button
    const leaveRoom = () => {
        console.log("Leaving room...");
        ws.close();
        window.location.href = "/leave";  //Call Backend for redirection
    };

</script>
{% endblock %}